@model LeaveSystemOnline.Subdistricts

<option value="">เลือกอำเภอ</option>

@if (ViewBag.SubDistrict != null)
{
    foreach (var item in ViewBag.SubDistrict)
    {
        <option value="@item.Value"> @item.Text</option>
    }
}